body {
    background: #121212;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}

.card-projeto {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.card-projeto:hover {
    transform: translateY(-5px);
}
